extends ../layout
block content
    <div class="container">
        <div class="col-8">
        <h3 class ="text-center"> Employe Details</h3>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">Enter Employe Id</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="Enter Employe Id">
        <div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
        </div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
        </div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">Phone No.</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="Phone No.">
        </div>
        <div class="col-sm">


        </div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">First Name</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="First Name">
        </div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">Last Name</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="Last Name">
        </div>
        <div class="col-sm">
            <label for="exampleFormControlInput1" class="form-label">Phone No.</label>
            <input type="emp_id" class="form-control" id="exampleFormControlInput1" placeholder="Phone No.">
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Large button
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-secondary btn-lg" type="button">Select State
            </button>
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
            </ul>
        </div>
            <button type="button" class="btn btn-secondary">Submit</button>
        </div>
    </div>
    </div>